<form class="ui stacked segment form" action="/weblist/{{weblist.id}}/addSite" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Add Title" type="text" name="title">
    </div>
    <div class="field">
      <label>Url</label>
      <input placeholder="Add Url" type="text" name="url">
    </div>
  </div>
  <button class="ui blue submit button">Submit</button>
</form>