{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Webmark
  </h1>
  <p>
    Bookmark your favorite websites and manage them with this application
  </p>
  <p>
    <img src ="https://cdn.glitch.com/6403e884-9032-49e2-932c-e6d1bf754dae%2Fw9.jpg?1519688135085" style="width:1024px;height:768px;">
  </p>
    
  
</section>